In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
INJECTOR_HISTORY = pd.read_excel("INJECTOR_HISTORY.xls")
METER_HISTORY = pd.read_excel("METER_HISTORY.xls")
ORDER_RECIPE1 = pd.read_excel("ORDER_RECIPE1.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [9]:
INJECTOR_HISTORY.head()

,METER_PRESET_CODE,PRESET_CODE,INJECTOR_CODE,FOLIO_NUMBER,TOTALIZER,TERMINAL_PRODUCT_NUMBER,METER_CODE,THRUPUT,UNACCOUNTED,PRODUCT_THRUPUT,CERTIFICATION_RATE,FRAC_TOTALIZER,FRAC_THRUPUT,FRAC_UNACCOUNTED,BOD_TOTALIZER,BOD_FRAC_TOTALIZER,ACTUAL_THRUPUT,ACTUAL_FRAC_THRUPUT,LOADING_QUANTITY_TYPE
0,NaN,FIQ_201,INJ_201,20210927,20513,8,NaN,7,0,25990,0,751,802,-1,20505,950,7,801,2
1,NaN,FIQ_201,INJ_201,20210928,20523,8,NaN,10,0,33973,0,952,202,-1,20513,751,10,201,2
2,NaN,FIQ_201,INJ_201,20210929,20547,8,NaN,23,0,78211,0,471,518,1,20523,952,23,519,2
3,NaN,FIQ_201,INJ_201,20210930,20563,8,NaN,16,0,53963,0,673,202,0,20547,471,16,202,2
4,NaN,FIQ_201,INJ_201,20211001,20588,8,NaN,25,0,83864,0,930,258,-1,20563,673,25,257,2

In [19]:
INJECTOR_HISTORY["PRESET_CODE"].unique()
#INJECTOR_HISTORY["UNACCOUNTED"].describe()

array(['FIQ_201', 'FIQ_202', 'FIQ_203', 'FIQ_301', 'FIQ_302', 'FIQ_303',
       'FIQ_401', 'FIQ_402', 'FIQ_403', 'FIQ_501', 'FIQ_502', 'FIQ_503'],
      dtype=object)

In [8]:
METER_HISTORY.head()

,PRESET_CODE,FOLIO_NUMBER,METER_CODE,GROSS_TOTALIZER,TERMINAL_PRODUCT_NUMBER,GROSS_THRUPUT,NET_TOTALIZER,GROSS_UNACCOUNTED,NET_THRUPUT,NET_UNACCOUNTED,BOD_GROSS_TOTALIZER,BOD_NET_TOTALIZER,ACTUAL_GROSS_THRUPUT,ACTUAL_NET_THRUPUT,LOADING_QUANTITY_TYPE
0,FIQ_201,20210927,MTR_201,468526870,7,337871,465948755,7998,334744,7925,468181001,465606086,345869,342669,2
1,FIQ_201,20210928,MTR_201,468989595,7,448730,466407233,13995,444600,13878,468526870,465948755,462725,458478,2
2,FIQ_201,20210929,MTR_201,469520570,7,530971,466933319,4,526088,-2,468989595,466407233,530975,526086,2
3,FIQ_201,20210930,MTR_201,470083808,7,563237,467490763,1,557445,-1,469520570,466933319,563238,557444,2
4,FIQ_201,20211001,MTR_201,470383616,7,299805,467787524,3,296762,-1,470083808,467490763,299808,296761,2

In [21]:
METER_HISTORY["PRESET_CODE"].unique()
METER_HISTORY["TERMINAL_PRODUCT_NUMBER"].unique()

array([7, 4, 1, 2], dtype=int64)

In [7]:
ORDER_RECIPE1.head()

,ORDER_ID,COMPARTMENT_ID,ORDER_RECIPE_ID,BAY_CODE,API_CODE,INJECTOR_PRESET_CODE,TARE_SCALE_INTERFACE_CODE,TANK_CODE,PRODUCT_GROUP_CODE,INJECTOR_CODE,...,COMPARTMENT_CONTAINER_TYPE,COMPARTMENT_NUMBER,PDXR_LOADING_REF,BLEND_CORRECTION_METHOD,BLEND_CORRECTION_NET_VOLUME,TOTAL_BATCH_BLEND_NET_VOLUME,BLEND_CORRECTION_SOURCE,COMMODITY_GROUP,DERIVATION_STATUS,DERIVED_VALUES_ERROR
0,8320,8342,8343,NaN,54B,NaN,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,0,0,0,0,2,0,NaN
1,8320,8344,8345,NaN,54B,NaN,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,0,0,0,0,2,0,NaN
2,8320,8346,8347,NaN,54B,NaN,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,0,0,0,0,2,0,NaN
3,8320,8348,8349,BAY_300,54B,NaN,NaN,TK-205,DSL,NaN,...,1.0,NaN,NaN,0,0,0,0,2,0,NaN
4,8320,8350,8351,NaN,54B,NaN,NaN,NaN,DSL,NaN,...,NaN,NaN,NaN,0,0,0,0,2,0,NaN