In [160]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numpy import isnan
from pandas import read_csv

# Data import
----

In [161]:
bulk_movement = pd.read_excel('Bulk_movement.xls')

In [162]:
bulk_product = pd.read_excel('BULK_PRODUCT.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [163]:
order_recipe1 = pd.read_excel('ORDER_RECIPE1.xls')

In [164]:
order_recipe2 = pd.read_excel('ORDER_RECIPE2.xls')

In [165]:
order_recipe3 = pd.read_excel('ORDER_RECIPE3.xls')

In [166]:
order_recipe4 = pd.read_excel('ORDER_RECIPE4.xls')

In [167]:
order_recipe5 = pd.read_excel('ORDER_RECIPE5.xls')

In [168]:
order_recipe6 = pd.read_excel('ORDER_RECIPE6.xls')

In [169]:
order_recipe7 = pd.read_excel('ORDER_RECIPE7.xls')

In [170]:
order_recipe8 = pd.read_excel('ORDER_RECIPE8.xls')

In [171]:
orders = pd.read_excel('Orders.xls')

In [172]:
order_tank_inv = pd.read_excel('ORDERS_TANK_INV.xls')

In [173]:
compartment_strapping1 = pd.read_excel('COMPARTMENT_STRAPPING1.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [174]:
compartment_strapping2 = pd.read_excel('COMPARTMENT_STRAPPING2.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [175]:
compartment_strapping3 = pd.read_excel('COMPARTMENT_STRAPPING3.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [176]:
compartment_strapping4 = pd.read_excel('COMPARTMENT_STRAPPING4.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [177]:
compartment_strapping5 = pd.read_excel('COMPARTMENT_STRAPPING5.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [178]:
compartment_strapping6 = pd.read_excel('COMPARTMENT_STRAPPING6.xls')

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [179]:
tank1 = pd.read_excel('TANK1.xlsx')

# Columns to keep
----

In [180]:
columns_to_keep_bulk_movement = ['BULK_MOVEMENT_ID','FOLIO_NUMBER','FROM_SUPPLIER_NUMBER','TO_SUPPLIER_NUMBER','TYPE','MOVEMENT_NUMBER','MOVEMENT_DATE','AIC_STATUS']

In [181]:
# Keep specific columns
bulk_movement = bulk_movement[columns_to_keep_bulk_movement]

In [182]:
columns_to_keep_bulk_product = ['BULK_MOVEMENT_ID','TERMINAL_PRODUCT_NUMBER','CONTAINER_CODE','FIGURES_TYPE','GROSS_QUANTITY','NET_QUANTITY','TEMPERATURE','END_DATE']

In [183]:
# Keep specific columns
bulk_product = bulk_product[columns_to_keep_bulk_product]

In [184]:
columns_to_keep_order_recipe1 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [185]:
# Keep specific columns
order_recipe1 = order_recipe1[columns_to_keep_order_recipe1]

In [186]:
columns_to_keep_order_recipe2 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [187]:
# Keep specific columns
order_recipe2 = order_recipe2[columns_to_keep_order_recipe2]

In [188]:
columns_to_keep_order_recipe3 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [189]:
# Keep specific columns
order_recipe3 = order_recipe3[columns_to_keep_order_recipe3]

In [190]:
columns_to_keep_order_recipe4 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [191]:
# Keep specific columns
order_recipe4 = order_recipe4[columns_to_keep_order_recipe4]

In [192]:
columns_to_keep_order_recipe5 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [193]:
# Keep specific columns
order_recipe5 = order_recipe5[columns_to_keep_order_recipe5]

In [194]:
columns_to_keep_order_recipe6 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [195]:
# Keep specific columns
order_recipe6 = order_recipe6[columns_to_keep_order_recipe6]

In [196]:
columns_to_keep_order_recipe7 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [197]:
# Keep specific columns
order_recipe7 = order_recipe7[columns_to_keep_order_recipe7]

In [198]:
columns_to_keep_order_recipe8 = ['ORDER_ID','PRODUCT_GROUP_CODE','SUPPLIER_NUMBER','ORDERED_QUANTITY','GROSS_QUANTITY','NET_QUANTITY','ADDITIVE_QUANTITY','PRODUCT_QUANTITY','COMPARTMENT_CONTAINER_CODE']

In [199]:
# Keep specific columns
order_recipe8 = order_recipe8[columns_to_keep_order_recipe8]

In [200]:
columns_to_keep_orders = ['ORDER_ID','MOVEMENT_NUMBER','SUPPLIER_NUMBER','FOLIO_NUMBER']

In [201]:
# Keep specific columns and drop 'END_LOAD_TIME' and 'START_LOAD_TIME'
orders = orders[columns_to_keep_orders]

In [202]:
columns_to_keep_compartment_strapping1 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [203]:
# Keep specific columns
compartment_strapping1 = compartment_strapping1[columns_to_keep_compartment_strapping1]

In [204]:
columns_to_keep_compartment_strapping2 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [205]:
# Keep specific columns
compartment_strapping2 = compartment_strapping2[columns_to_keep_compartment_strapping2]

In [206]:
columns_to_keep_compartment_strapping3 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [207]:
# Keep specific columns
compartment_strapping3 = compartment_strapping3[columns_to_keep_compartment_strapping3]

In [208]:
columns_to_keep_compartment_strapping4 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [209]:
# Keep specific columns
compartment_strapping4 = compartment_strapping4[columns_to_keep_compartment_strapping4]

In [210]:
columns_to_keep_compartment_strapping5 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [211]:
# Keep specific columns
compartment_strapping5 = compartment_strapping5[columns_to_keep_compartment_strapping5]

In [212]:
columns_to_keep_compartment_strapping6 = ['CONTAINER_CODE','QUANTITY','INT_LEVEL']

In [213]:
# Keep specific columns
compartment_strapping6 = compartment_strapping6[columns_to_keep_compartment_strapping6]

In [214]:
columns_to_keep_tank1 = ['TANK_CODE','NAME','SHELL_CAPACITY','TERMINAL_PRODUCT_NUMBER']

In [215]:
# Keep specific columns
tank1 = tank1[columns_to_keep_tank1]

In [216]:
merged_bulk = pd.merge(bulk_movement, bulk_product, on='BULK_MOVEMENT_ID', how='inner')

In [217]:
merged_bulk = merged_bulk.dropna(subset=['FOLIO_NUMBER'])

# Reset index if needed
merged_bulk.reset_index(drop=True, inplace=True)

In [218]:
merged_bulk

,BULK_MOVEMENT_ID,FOLIO_NUMBER,FROM_SUPPLIER_NUMBER,TO_SUPPLIER_NUMBER,TYPE,MOVEMENT_NUMBER,MOVEMENT_DATE,AIC_STATUS,TERMINAL_PRODUCT_NUMBER,CONTAINER_CODE,FIGURES_TYPE,GROSS_QUANTITY,NET_QUANTITY,TEMPERATURE,END_DATE
0,22545,20210928.0,NaN,1,1,519,2021-09-28 06:56:15,1,8,TK-100,1,100000,100000,15.0,2021-09-28 06:56:32
1,22545,20210928.0,NaN,1,1,519,2021-09-28 06:56:15,1,9,TK-200,1,100000,100000,15.0,2021-09-28 06:57:30
2,23263,20210928.0,NaN,5,1,536,2021-09-28 08:22:41,1,12,TK-300,1,1000000000,1000000000,15.0,2021-09-28 08:23:08
3,23263,20210928.0,NaN,5,1,536,2021-09-28 08:22:41,1,13,TK-400,1,10000000,10000000,15.0,2021-09-28 08:24:17
4,23513,20210928.0,NaN,8,1,541,2021-09-28 08:59:36,1,10,TK-500,1,10000000,10000000,15.0,2021-09-28 08:59:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,3091853,20230718.0,NaN,12,1,71839,2023-07-18 15:08:10,1,7,TK-103,4,5802730,5802730,15.0,2023-07-18 15:08:19
727,3091864,20230718.0,NaN,14,1,71840,2023-07-18 15:10:33,1,4,TK-105,1,100000,100000,15.0,2023-07-18 15:10:49
728,3091881,20230718.0,NaN,15,1,71841,2023-07-18 15:12:43,1,7,TK-102,4,-13192,-13192,15.0,2023-07-18 15:12:49
729,3091891,20230718.0,NaN,19,1,71842,2023-07-18 15:14:41,1,4,TK-106,4,100085,100085,15.0,2023-07-18 15:14:48
730,3091906,20230718.0,NaN,20,1,71843,2023-07-18 15:16:18,1,7,TK-102,4,-2448171,-2448171,15.0,2023-07-18 15:16:24

In [219]:
# Group by 'CONTAINER_CODE' and calculate the sum of 'GROSS_QUANTITY' for each tank
tank_sum = merged_bulk.groupby('CONTAINER_CODE')['GROSS_QUANTITY'].sum()

print(tank_sum)

CONTAINER_CODE
TK-100    997864619
TK-101    673795114
TK-102    163258574
TK-103    624452118
TK-104    524510355
TK-105    111824749
TK-106     86990038
TK-200      1859007
TK-201     26091062
TK-202     20902474
TK-300      -449051
TK-304      1001050
TK-305    152180086
TK-400      -335264
TK-500     13604437
TK-600     10075830
Name: GROSS_QUANTITY, dtype: int64

In [220]:
# Read all six Excel files into separate DataFrames
order_recipe_merge = pd.concat([order_recipe1, order_recipe2, order_recipe3, order_recipe4, order_recipe5, order_recipe6,order_recipe7,order_recipe8], ignore_index=True)

In [221]:
# Group by 'CONTAINER_CODE' and calculate the sum of 'GROSS_QUANTITY' for each tank
order_sum = order_recipe_merge.groupby('COMPARTMENT_CONTAINER_CODE')['GROSS_QUANTITY'].sum()

print(order_sum)

COMPARTMENT_CONTAINER_CODE
TK-100      27111876
TK-101      78783744
TK-102     105801011
TK-103     202264228
TK-104     162302685
TK-105      21544773
TK-106     162163348
TK-200       2698448
TK-201      19426473
TK-202      23559414
TK-203      51873243
TK-205    1022448881
TK-300      12300804
TK-301             0
TK-305     119295857
TK-306         57457
TK-400       1008308
TK-500      32037307
TK-600       7218233
Name: GROSS_QUANTITY, dtype: int64

In [222]:
# Find common tank codes
common_tanks = order_sum.index.intersection(tank_sum.index)

# Subtract common tank values and print
for tank_code in common_tanks:
    order_value = order_sum[tank_code]
    tank_value = tank_sum[tank_code]
    print(f"Tank {tank_code}: {tank_value - order_value}")

Tank TK-100: 970752743
Tank TK-101: 595011370
Tank TK-102: 57457563
Tank TK-103: 422187890
Tank TK-104: 362207670
Tank TK-105: 90279976
Tank TK-106: -75173310
Tank TK-200: -839441
Tank TK-201: 6664589
Tank TK-202: -2656940
Tank TK-300: -12749855
Tank TK-305: 32884229
Tank TK-400: -1343572
Tank TK-500: -18432870
Tank TK-600: 2857597

In [223]:
merged_bulk.columns

Index(['BULK_MOVEMENT_ID', 'FOLIO_NUMBER', 'FROM_SUPPLIER_NUMBER',
       'TO_SUPPLIER_NUMBER', 'TYPE', 'MOVEMENT_NUMBER', 'MOVEMENT_DATE',
       'AIC_STATUS', 'TERMINAL_PRODUCT_NUMBER', 'CONTAINER_CODE',
       'FIGURES_TYPE', 'GROSS_QUANTITY', 'NET_QUANTITY', 'TEMPERATURE',
       'END_DATE'],
      dtype='object')

In [224]:
merged_bulk = merged_bulk.sort_values(by='FOLIO_NUMBER', ascending=True)

# Reset index if needed
merged_bulk.reset_index(drop=True, inplace=True)

In [225]:
merged_bulk

,BULK_MOVEMENT_ID,FOLIO_NUMBER,FROM_SUPPLIER_NUMBER,TO_SUPPLIER_NUMBER,TYPE,MOVEMENT_NUMBER,MOVEMENT_DATE,AIC_STATUS,TERMINAL_PRODUCT_NUMBER,CONTAINER_CODE,FIGURES_TYPE,GROSS_QUANTITY,NET_QUANTITY,TEMPERATURE,END_DATE
0,22545,20210928.0,NaN,1,1,519,2021-09-28 06:56:15,1,8,TK-100,1,100000,100000,15.0,2021-09-28 06:56:32
1,22545,20210928.0,NaN,1,1,519,2021-09-28 06:56:15,1,9,TK-200,1,100000,100000,15.0,2021-09-28 06:57:30
2,23263,20210928.0,NaN,5,1,536,2021-09-28 08:22:41,1,12,TK-300,1,1000000000,1000000000,15.0,2021-09-28 08:23:08
3,23263,20210928.0,NaN,5,1,536,2021-09-28 08:22:41,1,13,TK-400,1,10000000,10000000,15.0,2021-09-28 08:24:17
4,23513,20210928.0,NaN,8,1,541,2021-09-28 08:59:36,1,10,TK-500,1,10000000,10000000,15.0,2021-09-28 08:59:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,3091845,20230718.0,NaN,12,1,71838,2023-07-18 15:07:00,1,4,TK-105,4,761848,761848,15.0,2023-07-18 15:07:07
727,3091853,20230718.0,NaN,12,1,71839,2023-07-18 15:08:10,1,7,TK-103,4,5802730,5802730,15.0,2023-07-18 15:08:19
728,3091864,20230718.0,NaN,14,1,71840,2023-07-18 15:10:33,1,4,TK-105,1,100000,100000,15.0,2023-07-18 15:10:49
729,3091881,20230718.0,NaN,15,1,71841,2023-07-18 15:12:43,1,7,TK-102,4,-13192,-13192,15.0,2023-07-18 15:12:49
730,3091906,20230718.0,NaN,20,1,71843,2023-07-18 15:16:18,1,7,TK-102,4,-2448171,-2448171,15.0,2023-07-18 15:16:24

In [226]:
merged_orders = pd.merge(order_recipe_merge, orders, on='ORDER_ID', how='inner')

In [227]:
merged_orders = merged_orders.sort_values(by='FOLIO_NUMBER', ascending=True)

# Reset index if needed
merged_orders.reset_index(drop=True, inplace=True)

In [228]:
merged_orders

,ORDER_ID,PRODUCT_GROUP_CODE,SUPPLIER_NUMBER_x,ORDERED_QUANTITY,GROSS_QUANTITY,NET_QUANTITY,ADDITIVE_QUANTITY,PRODUCT_QUANTITY,COMPARTMENT_CONTAINER_CODE,MOVEMENT_NUMBER,SUPPLIER_NUMBER_y,FOLIO_NUMBER
0,8320,DSL,12,100,0,0,0,0,NaN,186,12,20210927.0
1,20678,DSL,13,2000,1996,1977,0,0,TK-205,474,13,20210927.0
2,20678,DSL,13,5000,4998,4950,0,0,TK-205,474,13,20210927.0
3,20678,DSL,13,6000,5997,5940,0,0,TK-205,474,13,20210927.0
4,20678,DSL,13,10000,9995,9900,0,0,TK-205,474,13,20210927.0
...,...,...,...,...,...,...,...,...,...,...,...,...
456148,1675285,HFO,1,0,0,0,0,0,TK-301,39082,1,NaN
456149,2471753,DSL,12,5000,5000,4979,0,0,TK-103,56539,12,NaN
456150,2471753,DSL,12,2000,2000,1992,0,0,TK-103,56539,12,NaN
456151,2471753,DSL,12,3000,3000,2988,0,0,TK-103,56539,12,NaN
456152,2471753,DSL,12,4000,4000,3985,0,0,TK-103,56539,12,NaN

In [231]:
# Find common folio numbers
common_folio_numbers = merged_bulk['FOLIO_NUMBER'][merged_bulk['FOLIO_NUMBER'].isin(merged_orders['FOLIO_NUMBER'])]

In [232]:
common_folio_numbers

0      20210928.0
1      20210928.0
2      20210928.0
3      20210928.0
4      20210928.0
          ...
673    20230607.0
674    20230607.0
675    20230607.0
676    20230608.0
677    20230608.0
Name: FOLIO_NUMBER, Length: 678, dtype: float64

In [233]:
# Filter order_recipe_merge based on common folio numbers
filtered_order_recipe_merge = order_recipe_merge[order_recipe_merge['FOLIO_NUMBER'].isin(common_folio_numbers)]

# Group by 'COMPARTMENT_CONTAINER_CODE' and calculate the sum of 'GROSS_QUANTITY' for each tank
order_sum = filtered_order_recipe_merge.groupby('COMPARTMENT_CONTAINER_CODE')['GROSS_QUANTITY'].sum()

KeyError: 'FOLIO_NUMBER'